body {
  font-size: 14px;
  font-family: 'proxima-nova', sans-serif;
  color: #333;
  font-weight: 400;
  background: #ffffff !important;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-items-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bg-darkblue {
  background: #212B65 !important;
}

.bg-purple {
  background: #A300FF !important;
}

.text-purple {
  color: #A300FF !important;
}

.text-info {
  color: #00C2FF !important;
}

.pdf-section {
  position: relative;
}

.pdf-section .header {
  background: #212b64;
  position: relative;
}

.pdf-section .header .left-img {
  position: absolute;
  bottom: 10px;
  left: 2px;
}

.pdf-section .header .right-img {
  position: absolute;
  bottom: 10px;
  right: 0;
}

.pdf-section .main-content .score-card {
  border-radius: 8px;
}

@media (max-width: 767px) {
  .pdf-section .main-content .score-card .card-title {
    font-size: 1.35rem;
  }
}

.pdf-section .main-content .score-card .dot-circle li {
  width: 4%;
  line-height: 16px !important;
}

.pdf-section .main-content .score-card .dot-circle li i {
  font-size: 10px;
}

.pdf-section .main-content .score-card small {
  font-size: 14px;
}

.pdf-section .main-content .avgtime-card {
  border-radius: 8px;
}

.pdf-section .main-content .avgtime-card .dot-circle li {
  width: 4%;
  line-height: 16px !important;
}

.pdf-section .main-content .avgtime-card .dot-circle li i {
  font-size: 10px;
}

.pdf-section .main-content .avgtime-card small {
  font-size: 14px;
}

.pdf-section .main-content .subject_cards {
  border-radius: 8px;
}

.pdf-section .main-content .subject_cards .row [class*="col"]:not(:last-child) {
  padding-right: 0.4rem !important;
}

@media (max-width: 767px) and (max-width: 575px) {
  .pdf-section .main-content .subject_cards .row [class*="col"]:not(:last-child) {
    padding-right: 0px;
  }
}

@media (max-width: 991px) {
  .pdf-section .main-content .subject_cards .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .pdf-section .main-content .subject_cards .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;
  }
}

@media (max-width: 575px) {
  .pdf-section .main-content .subject_cards .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;
  }
}

.pdf-section .main-content .subject_cards .card {
  overflow: hidden;
  border-radius: 8px;
}

.pdf-section .main-content .subject_cards .card .card-header .icon svg {
  width: 35px;
  height: 35px;
}

.pdf-section .main-content .subject_cards .card .card-body {
  border-radius: 8px;
  color: #ffffff;
}

.pdf-section .main-content .subject_cards .card .card-body small {
  font-size: 14px;
}

.pdf-section .main-content .subject_cards .card.physics {
  border-color: #F05D70;
}

.pdf-section .main-content .subject_cards .card.physics .card-body {
  background: #F05D70;
}

.pdf-section .main-content .subject_cards .card.chemistry {
  border-color: #0060CE;
}

.pdf-section .main-content .subject_cards .card.chemistry .card-body {
  background: #0060CE;
}

.pdf-section .main-content .subject_cards .card.botany {
  border-color: #3AC555;
}

.pdf-section .main-content .subject_cards .card.botany .card-body {
  background: #3AC555;
}

.pdf-section .main-content .subject_cards .card.zoology {
  border-color: #C37800;
}

.pdf-section .main-content .subject_cards .card.zoology .card-body {
  background: #C37800;
}

.pdf-section .main-content .subject_cards .card.maths {
  border-color: #707070;
}

.pdf-section .main-content .subject_cards .card.maths .card-body {
  background: #707070;
}

.pdf-section .main-content .maintable .table th,
.pdf-section .main-content .maintable .table td {
  padding: 8px 18px;
}

.pdf-section .main-content .maintable .table tr th:not(:last-child),
.pdf-section .main-content .maintable .table tr td:not(:last-child) {
  border-right: 1px solid #dee2e6;
}

.pdf-section .main-content .maintable .table thead tr th {
  border-top: none;
}

.pdf-section .main-content .maintable .table tbody tr td {
  font-weight: 700;
  text-align: center;
}

.pdf-section .main-content .maintable .table tbody tr td:nth-child(2) {
  background: #f8fffa;
}

.pdf-section .main-content .maintable .table tbody tr td:nth-child(3) {
  background: #fffcf6;
}

.pdf-section .main-content .maintable .table tbody tr td:nth-child(4) {
  background: #fff9fa;
}

.pdf-section .main-content .maintable .table tbody tr td:nth-child(5) {
  background: #fff8f8;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(2) td:nth-child(2) {
  background: #eafff0;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(2) td:nth-child(3) {
  background: #fff9e9;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(2) td:nth-child(4) {
  background: #fdf0f2;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(2) td:nth-child(5) {
  background: #ffe5e5;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(3) td:nth-child(2) {
  background: #dffbe7;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(3) td:nth-child(3) {
  background: #fff6da;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(3) td:nth-child(4) {
  background: #fce7ea;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(3) td:nth-child(5) {
  background: #ffdada;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(4) td:nth-child(2) {
  background: #d0ffde;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(4) td:nth-child(3) {
  background: #fff1ca;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(4) td:nth-child(4) {
  background: #fbdce0;
}

.pdf-section .main-content .maintable .table tbody tr:nth-child(4) td:nth-child(5) {
  background: #ffc7c7;
}

.pdf-section .main-content .totalgrand-table .table tr th,
.pdf-section .main-content .totalgrand-table .table tr td {
  padding: 8px 18px;
  border-top: none;
  font-weight: 700;
}

.pdf-section .main-content .totalgrand-table .table tr th .icon svg,
.pdf-section .main-content .totalgrand-table .table tr td .icon svg {
  width: 15px;
  height: 15px;
}

.pdf-section .main-content .totalgrand-table .table tr th:not(:last-child),
.pdf-section .main-content .totalgrand-table .table tr td:not(:last-child) {
  border-right: 1px solid #dee2e6;
}

.pdf-section .main-content .totalgrand-table .table thead tr th {
  font-weight: 400;
  border-top: none;
}

.pdf-section .main-content .totalgrand-table .table tbody tr:nth-child(1) {
  background-color: #f8f1de;
}

.pdf-section .main-content .accurancy-table .table tr th,
.pdf-section .main-content .accurancy-table .table tr td {
  padding: 8px 18px;
}

.pdf-section .main-content .accurancy-table .table tr th .icon svg,
.pdf-section .main-content .accurancy-table .table tr td .icon svg {
  width: 25px;
  height: 25px;
}

.pdf-section .main-content .accurancy-table .table tr td {
  text-align: center;
}

.pdf-section .main-content .accurancy-table .table tr th:not(:last-child),
.pdf-section .main-content .accurancy-table .table tr td:not(:last-child) {
  border-right: 1px solid #dee2e6;
}

.pdf-section .main-content .accurancy-table .table thead tr th {
  text-align: center;
  font-weight: 700;
  border-top: none;
}

.pdf-section .main-content .accurancy-table .table tbody tr td:first-child {
  font-weight: 700;
}

.pdf-section .main-content .accurancy-table .table tbody tr:nth-child(1) {
  background-color: #f8f1de;
}

.pdf-section .main-content .accurancy-table .table tbody tr:nth-child(8) {
  background-color: #F4F4F4;
}

.pdf-section .main-content .accurancy-table .table tbody tr:nth-child(9) {
  background-color: #F4F4F4;
}

.pdf-section .main-content .accurancy-table .table tbody tr:nth-child(10) {
  background-color: #F4F4F4;
}

.pdf-section .main-content .observation-card {
  position: relative;
}

.pdf-section .main-content .observation-card .card-header {
  background: #f7aeb7;
}

.pdf-section .main-content .observation-card .card-header .card-title {
  -webkit-transform: matrix(0, -1, 1, 0, -45, 70);
          transform: matrix(0, -1, 1, 0, -45, 70);
  position: absolute;
  left: 0;
}

.pdf-section .main-content .observation-card .card-body .observation-list li {
  position: relative;
  padding-left: 40px;
}

.pdf-section .main-content .observation-card .card-body .observation-list li::before {
  content: '';
  position: absolute;
  left: 20px;
  top: 8px;
  width: 8px;
  height: 8px;
  background: #F05D70;
  border-radius: 50%;
}

.pdf-section .main-content .questiontypeanalysis-table,
.pdf-section .main-content .questiontheory-table {
  overflow: hidden;
}

.pdf-section .main-content .questiontypeanalysis-table .total,
.pdf-section .main-content .questiontheory-table .total {
  background-color: #f8f1de;
}

.pdf-section .main-content .questiontypeanalysis-table .table tr th,
.pdf-section .main-content .questiontypeanalysis-table .table tr td,
.pdf-section .main-content .questiontheory-table .table tr th,
.pdf-section .main-content .questiontheory-table .table tr td {
  padding: 3px 3px;
  border-top: none;
}

.pdf-section .main-content .questiontypeanalysis-table .table tr th,
.pdf-section .main-content .questiontypeanalysis-table .table tr td,
.pdf-section .main-content .questiontheory-table .table tr th,
.pdf-section .main-content .questiontheory-table .table tr td {
  text-align: center;
  font-weight: 700;
}

.pdf-section .main-content .questiontypeanalysis-table .table tr th:first-child,
.pdf-section .main-content .questiontypeanalysis-table .table tr td:first-child,
.pdf-section .main-content .questiontheory-table .table tr th:first-child,
.pdf-section .main-content .questiontheory-table .table tr td:first-child {
  text-align: left;
}

.pdf-section .main-content .questiontypeanalysis-table .table tr td:first-child,
.pdf-section .main-content .questiontheory-table .table tr td:first-child {
  text-align: left;
  font-weight: 400;
}

.pdf-section .main-content .questiontypeanalysis-table .table tr th:not(:last-child),
.pdf-section .main-content .questiontypeanalysis-table .table tr td:not(:last-child),
.pdf-section .main-content .questiontheory-table .table tr th:not(:last-child),
.pdf-section .main-content .questiontheory-table .table tr td:not(:last-child) {
  border-right: 1px solid #dee2e6;
}

.pdf-section .main-content .act-table .table tr th,
.pdf-section .main-content .act-table .table tr td {
  padding: 8px;
  border: none;
}

.pdf-section .main-content .act-table .table tr th h6 {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.pdf-section .main-content .act-table .table tr th p {
  font-size: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pdf-section .main-content .act-table .correct-table {
  background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(#19cba165)) !important;
  background: linear-gradient(-90deg, #FFFFFF 0%, #19cba165 100%) !important;
}


.pdf-section .main-content .act-table .wrong-table {
  background: -webkit-gradient(linear, right top, left top, from(#FFFFFF), to(#f05d7170)) !important;
  background: linear-gradient(-90deg, #FFFFFF 0%, #f05d7170 100%) !important;
}

.pdf-section .main-content .chapterwise-table .table tr th,
.pdf-section .main-content .chapterwise-table .table tr td {
  padding: 8px 18px;
  border-top: none;
  text-align: center;
}
.gradient-table tr th, .gradient-table tr td {
padding: 8px;
}

.pdf-section .main-content .chapterwise-table .table tr th:nth-child(1),
.pdf-section .main-content .chapterwise-table .table tr td:nth-child(1) {
  text-align: left;
}

.pdf-section .main-content .chapterwise-table .table tr th:not(:last-child),
.pdf-section .main-content .chapterwise-table .table tr td:not(:last-child) {
  border-right: 1px solid #dee2e6;
}

.pdf-section .main-content .chapterwise-table .table thead tr th {
  font-weight: 600;
  border-bottom: 1px solid #dee2e6;
}

.pdf-section .main-content .chapterwise-table .table tbody tr td:nth-child(1) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.pdf-section .main-content .chapterwise-table .table tbody tr td:nth-child(2) {
  color: var(--red);
}

.pdf-section .main-content .chapterwise-table .table tbody tr td:nth-child(3) {
  color: var(--info);
}

.pdf-section .main-content .chapterwise-table .table tbody tr td:nth-child(4) {
  color: var(--green);
}

.pdf-section .main-content .chapterwise-table .table tbody tr td:nth-child(5) {
  color: var(--pink);
}

.pdf-section .main-content .chapterwise-table .table tbody tr td:nth-child(6) {
  color: var(--purple);
}

.pdf-section .footer {
  background: #ededed;
}
/*# sourceMappingURL=pdf.css.map */