.assist-form {
    position: relative;
}

.assist-form .form-label {
    font-size: 14px;
    margin-bottom: 0;
}

.assist-form input.form-control {
    height: 35px;
    box-shadow: none;
}

.assist-form .custom-select {
    font-size: 14px;
    height: 35px;
    box-shadow: none;
}

.assist-support-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #2F4099;
    background-color: #ffffff;
    border-radius: 2px;
    opacity: 1;
    padding: 3px;
}

.assist-support-buttons li {
    display: inline-block;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 2px;
    line-height: 30px;
    width: 50%;
    background-color: #ffffff;
}

.assist-support-buttons li:hover,
.assist-support-buttons li.active {
    color: #ffffff;
    background: #2F4099;
    border-color: #2F4099;
}

.assist-form .assist-form-tabs {
    position: relative;
}

.assist-form .assist-form-tabs .nav-tabs {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #2F4099;
    background-color: #ffffff;
    border-radius: 2px;
    opacity: 1;
    padding: 3px;
    width: 100%;
}

.assist-form .assist-form-tabs .nav-tabs li {
    display: inline-block;
    font-size: 11px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 2px;
    line-height: 30px;
    width: 50%;
    background-color: #ffffff;
}
.assist-form .assist-form-tabs .nav-tabs li a {
    color: #000000;
}

.assist-form .assist-form-tabs .nav-tabs li:hover,
.assist-form .assist-form-tabs .nav-tabs li.active {
    color: #ffffff;
    background: #2F4099;
    border-color: #2F4099;
}
.assist-form .assist-form-tabs .nav-tabs li:hover a,
.assist-form .assist-form-tabs .nav-tabs li.active a {
    color: #ffffff;
}

.assist-form .assist-form-tabs .tab-content {
    position: relative;
    padding: 0px;
}