/*Font icons*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css');
/*Font*/
@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700&display=swap");

@import url("font-awesome.min.css");
/* @import url("../plugins/appyn-icon/style.css"); */



html {
    overflow-x: hidden;
    height: 100%;
    min-height: 100%;
    background-color: #192a56 !important;
    width: 100%;
}

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-size: 15px;
    /* line-height: 24px; */
    color: #000;
    /* font-family: 'Montserrat', sans-serif !important; */
    font-family: "Titillium Web", sans-serif;
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}

.thm-btn {
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border-radius: 30.5px;
    background-color: #f9c52b;
    text-transform: uppercase;
    color: #1b2143;
    font-size: 14px;
    font-weight: bold;
    padding: 13.5px 50px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    text-decoration:none;
}

.thm-btn:hover {
    background-color: #1b2143;
    color: #fff;
    text-decoration:none;
}

header {
     background-image: linear-gradient(-121deg, #222c67 0%, #2c3b8d 50%, #384eb9 100%);
    -webkit-box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 6px 13px 0px rgba(0, 0, 0, 0.06);
}

.main-wrapper {
    padding: 8rem 0;
}
.main-wrapper h4{
    margin: 0;
    color: #1b2143;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 1.25em;
    position: relative;
    /* text-align:center; */
    margin-bottom:50px;
}

.sign-up {
    position:relative;
}
.sign-up:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(50%, -20%);
    transform: translate(50%, -20%);
    width: 200px;
    height: 114px;
    background: transparent url(../images/pattern-1-1.png) 0 0 no-repeat;
    z-index: 0;
}
.banner-one__title {
   font-size: 68px;
    color: #1b2143;
    font-weight: bold;
    line-height: 1em;
    margin: 0;
    margin-bottom: 25px;
}

@media (max-width:767px) {
    .main-wrapper {
    padding: 3rem 0;
}
.banner-one__title {
   font-size: 47px;
   
}
}

.service-one {
    padding-bottom: 60px;
}
.block-title {
    margin-top: -20px;
    margin-bottom: 44px;
}
.block-title__title {
    margin: 0;
    color: #1b2143;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1.25em;
    display: inline-block;
    position: relative;
}
.block-title__title:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translate(50%, -20%);
    transform: translate(50%, -20%);
    width: 238px;
    height: 114px;
    background: transparent url('../images/pattern-1-1.png') 0 0 no-repeat;
    z-index: 0;
}

.nav-tabs {
    border-bottom: 0;
    background: #212b65;
    width: 340px;
    text-align: center;
    padding: 8px 10px;
    margin: auto;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #f9c52d;
    border-color: #f9c52d;
}
.nav-tabs .nav-link {
    border-color: transparent;
    background: #212b65;
    border-radius: 3px;
    color: #fff;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}
.tab-content {
    padding: 100px 20px 40px;
}
.service-one__single {
    text-align: center;
}

/*
* 5. service styles
*/
.service-one {
  padding-bottom: 60px;
  padding-top: 120px;
}

.service-one__single {
  text-align: center;
}

.service-one__icon {
  background-color: #212b65;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-perspective: 135px;
  perspective: 135px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.service-one__icon:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url('../images/service-shape-1-1.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  -webkit-transform: translateZ(135px) perspective(100px) scale(1.5);
  transform: translateZ(135px) perspective(100px) scale(1.5);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.service-one__icon i {
  font-size: 58px;
  color: #fff;
  position: relative;
}

.service-one__single:hover .service-one__icon:before {
  -webkit-transform: translateZ(0px) perspective(0) scale(1);
  transform: translateZ(0px) perspective(0) scale(1);
}

.service-one__title {
  font-size: 22px;
  line-height: 34px;
  font-weight: bold;
  color: #1b2143;
  letter-spacing: .04em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (max-width: 1199px) {
  .service-one__title {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
 .block-title__title {
      font-size:40px;
  }
}

.service-one__title a {
  color: #1b2143;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.service-one__title a:hover {
  color: #f9c52b;
  text-decoration:none;
}

.service-one__text {
  margin: 0;
  color: #6d6d6d;
  font-size: 18px;
  line-height: 34px;
}

.service-one [class*=col-lg] {
  margin-bottom: 60px;
}

.service-one [class*=col-lg]+[class*=col-lg] {
  border-left: 1px solid #e9e9e9;
}

@media (max-width: 991px) {
  .service-one [class*=col-lg]+[class*=col-lg] {
    border-left: 0;
    border-top: 1px solid #e9e9e9;
    padding-top: 60px;
  }
}



.confirm-wrapper {
    padding:13rem 0;
   
}
.success-msg {
 width:500px;
    margin:auto;
}
.confirm-wrapper h5{
   line-height:32px;
}

@media (max-width: 991px) {
    .confirm-wrapper {
    padding: 10rem 0;
}
  .success-msg {
  width:auto;
    margin:auto;
}
.confirm-wrapper h5{
   line-height:32px;
   font-size:15px;
}
}

